  <nav class="menu_dueno" role="navigation">
    <ul>
    	<a href=<%= perfil_dueno_path %>>
      <li>
        <div class="barra"> </div>
        <p class="menu">Editar Perfil</p>
      </li>
  		</a>

        <a href=<%= registrar_dueno_path %>>
      <li>
        <div class="barra"> </div>
       <p class="menu">Registrar</p> 


        <a href=<%= buscar_dueno_path %>>
      <li>
        <div class="barra"> </div>
       <p class="menu">Buscar</p> 

      </li>
    	</a>

    	<a href=<%= servicio_dueno_path %>>
      <li>
        <div class="barra"> </div>
        <p class="menu">Servicios</p>
      </li>
      	</a>

        <a href=<%= estacio_dueno_path %>>
      <li>
        <div class="barra"> </div>
        <p class="menu">Estacionamientos</p>
      </li>
        </a>

        <a href=<%= listar_dueno_path %>>
      <li>
        <div class="barra"> </div>
        <p class="menu">Listar Alquileres</p>
      </li>
        </a>
     	
    </ul>
  </nav>

