<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Asap:700i" rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
<link rel="stylesheet" type="stylesheet/css" href="stylesheet/cliente.scss">

  	            <%= render partial: "layouts/menu_principal" %>

                  <div class="container">
       <%= yield :intro %>
      </div> 

  <div class="container"> 
    <div class="row"> 
  <div class="col-md-3"><%= render partial: "layouts/menu_cliente" %></div> 
  <%= yield %>   
   </div>
    </body>
</html>
