<!DOCTYPE html>
<html>
  <head>
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Asap:700i" rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>

<link rel="stylesheet" type="stylesheet/css" href="stylesheet/dueno.scss">


 <%= render partial: "layouts/menu_principal" %>
  <div class="container">
       <%= yield :intro %>
      </div> 

  <div class="container"> 

    <div class="row"> 

  <div class="col-md-3"><%= render partial: "layouts/menu_dueno" %></div> 

  <%= yield %>   
   </div>
    </div>
    </body>
</html>

