<!DOCTYPE html>
<html>

  <head>
    <%= yield :head %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Asap:700i" rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>


<script language="javascript" type="text/javascript">

function verificar(lolo)
{
for (var i=0;i<document.form1.radiobutton.length;i++)
{
if (document.form1.radiobutton[i].checked)
{

var msn = document.form1.radiobutton[i].value ; 
document.location="http://localhost:3000/"+msn;
break;
}
}

}
</script>



 <body> 
   
  <div class="conten">  
      <%= render partial: "layouts/menu_principal" %>

      <%= yield %> 
      
  </div>


   
 </body>
</html>
